<div class="nav-bar flex fixed bg-blue-500 h-16 w-screen z-50">
  <div class="burger-menu flex justify-center items-center" >
    <span (click)="openMenu()" class="text-xl ml-4" nz-icon nzType="menu" nzTheme="outline"></span>
    <ng-container *ngIf="menu">
      <div class="absolute ml-[11rem] w-56 mt-[11rem] bg-blue-500">
        <div class="options text-center mt-4">
          <p class="mb-4">Calendar</p>
          <p class="mb-4">Booked Flights</p>
          <p class="mb-4">Logout</p>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="heading h-16 w-full flex justify-center items-center">
    <h1>PlanMe</h1>
  </div>

</div>

<router-outlet></router-outlet>
