<div class="nav-bar flex flex-nowrap fixed bg-gradient-to-r from-blue-400 to-blue-800 h-16 w-screen z-50">
  <div class="burger-menu flex justify-center items-center" >
    <span (click)="openMenu()" class="text-xl ml-4 text-black" nz-icon nzType="menu" nzTheme="outline"></span>
    <ng-container *ngIf="menu">
      <div class="absolute ml-[11rem] w-56 mt-[10.9rem] bg-blue-400 rounded-b-md">
        <div class="options text-center">
          <p class="p-2">Calendar</p>
          <p class="p-2">Booked Flights</p>
          <p class="p-2">Logout</p>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="heading h-16 w-full flex justify-center items-center">
    <img class="absolute w-32 h-12 left-0 right-8 ml-auto mr-auto top-2"
         ngSrc="assets/logos/planme-low-resolution-logo-black-on-transparent-background.png" alt="PlanMe" height="623"
         width="1000">
  </div>

</div>

<router-outlet></router-outlet>
