<div class="events-section ">
  <div class="grid grid-cols-[repeat(3, 1fr)] grid-rows-[repeat(1, 3rem)] p-5 bg-slate-500 rounded-t-xl">
    <p class="col-[1/2] row-[1/2] text-center">Name</p>
    <p class="col-[2/3] row-[1/2] text-center">Events</p>
  <!--  <h1 class="col-[3/4] row-[1/2]">Itinerary Count</h1>-->
    <p class="col-[3/4] row-[1/2] text-center">Cost</p>

  </div>

  <div [class]="'grid grid-cols-[repeat(3, 1fr)] grid-rows-[repeat('+ rowCount + '1, 3rem)] bg-slate-100 pb-5 pl-5 pr-5'">
    <ng-container *ngFor="let trip of (trips$ | async); index as i">
      <p [class]="'col-[1/2] row-['+ 1 +'/3] pt-5 text-center'">{{trip.tripName}}</p>
      <p [class]="'col-[2/3] row-['+ 1 +'/3] pt-5 text-center'">{{trip.itinerary.activities.length}}</p>
      <p [class]="'col-[3/4] row-['+ 1 +'/3] pt-5 text-center'">{{trip.itinerary.activities[0].cost}}</p>
    </ng-container>

  </div>
</div>

<div class="footer flex flex-nowrap justify-center content-center fixed bottom-0 right-0 m-7 p-3 rounded-xl bg-blue-500">
  <p class="mr-3">Add event</p>
  <span nz-icon nzType="plus-circle" nzTheme="outline" class="mt-1"></span>
</div>
