<img class="absolute w-44 h-20 left-0 right-8 ml-auto mr-auto top-10"
     ngSrc="assets/logos/planme-high-resolution-logo-color-on-transparent-background.png" alt="PlanMe" height="1247"
     width="2000">
<div class="w-screen h-screen flex justify-center items-center bg-loginBackground bg-no-repeat bg-center bg-cover ">

  <div class=" flex justify-center items-center rounded-xl">
    <form [formGroup]="loginForm" class="flex flex-col gap-4 w-[20rem] rounded-xl text-center bg-white py-4">
      <h1 class="text-center font-extrabold text-2xl">Login</h1>

      <div class="form-content flex flex-wrap flex-col gap-4">
        <div class="ml-12 flex flex-col">
          <label class="w-full text-lg font-bold flex text-start  pl-1">Email:</label>
          <input formControlName="email" type="email" placeholder="Email" class=" w-56 h-7 pl-3 border-2 border-gray-300 rounded-md">
        </div>

        <div class="ml-12 flex flex-col">
          <label class="w-full text-lg font-bold flex text-start  pl-1">Password:</label>
          <input formControlName="password" type="password" placeholder="Password" class=" w-56 h-7 pl-3 border-2 border-gray-300 rounded-md">
        </div>
      </div>

      <ng-container *ngIf="loginForm.invalid; else validButton">
        <div class="flex justify-center">
          <button type="submit" class=" h-8 w-20 bg-slate-500 rounded text-white" disabled>Login</button>
        </div>
      </ng-container>

      <p class="">Not registered? <a class="text-blue-500" routerLink="../register">SignUp</a></p>

    </form>
  </div>

</div>
<ng-template #validButton>

  <div class="flex justify-center">

    <button type="submit" class=" h-8 w-20 bg-blue-500 rounded text-white" (click)="submitLoginForm()">Login</button>
  </div>
</ng-template>
