<div class="grid grid-rows-homeBodyRows grid-cols-homeBodyColumns pt-24 w-screen h-screen" >
  <div class="calendar col-[1/2] row-[1/2] p-5 border-r-4">
    <app-calendar></app-calendar>
  </div>
  <div class="trips col-[2/3] row-[1/2] mt-3 p-5">
    <app-trip-tile></app-trip-tile>

    <div (click)="addTrip()" class="cursor-pointer footer flex flex-nowrap justify-center content-center fixed bottom-0 right-0 m-7 p-3 rounded-xl bg-blue-500">
      <p class="mr-3">Add event</p>
      <span nz-icon nzType="plus-circle" nzTheme="outline" class="mt-1" ></span>
    </div>
  </div>
</div>
